/* Global */

body {
    background-color: #fcfafa;
}

nav {
    background-color: #F8F8F8;
}

tr {
    cursor:pointer;
}


/* cards */

.card-header {
    background-color: #F8F8F8;
}


/* Nutritional Tables */

.nt {
    font-size: small;
}

/* Form table & input style */

table.fTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

table.fTable th, .fTable td {
    border: 1px solid #ddd;
}

table.fTable th {
    font-weight: bold;
}


.fTableFormElements {
    border: none;
    width: 100%;
}



