{% extends "layout.html" %}

{% block title %}
    Enter A New Password
{% endblock %}

{% block main %}
        
        <div class="justify-content-center row mt-5">
            <div class="col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-header text-center">
                        <h4>Enter New Password</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" name="password" id="password" required>
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

    

{% endblock %}