{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

<div class="container">

  <div class="card-deck mt-5">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
          <p class="card-text display-1">{{ result1 }}</p>
          <a href="/customer" class="btn btn-primary">More Customers</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Units Required</h5>
          <p class="card-text display-1">{{ weeklyUnitsRequired }}</p>
          <p class="card-text">This Week</p>
          
        </div>
      </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Recipes</h5>
            <p class="card-text display-1">{{ result3 }}</p>
            <a href="/recipes/view" class="btn btn-primary">See Recipes</a>
          </div>
    </div>
  </div>
    
  <div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title">Daily Units Produced</h4>
        <hr/>
        <canvas id="dailyUnitChart" width="350" height="150"></canvas>
    </div>
  </div>


</div>

<script>
    let totalDailyUnitsData = {
        labels: [
                {% for item in labels %}
                    "{{ item }}",
                {% endfor %}
                ],
        
        datasets: [{
            label: '{{legend}}',
            data: [
                    {% for item in values %}
                        {{item}}, 
                    {% endfor %}],
            backgroundColor: "rgba(75,192,192,0.4)"
            
        }]

    };

    // get chart canvas
    let ctx = document.getElementById('dailyUnitChart').getContext('2d');
    
    // create chart using canvas
    let totalDailyUnitsChart = new Chart(ctx, {
        type: 'bar',
        data: totalDailyUnitsData,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        
    });
</script>
{% endblock %}